<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="justify-content:space-between">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic" data-toggle="collapse" data-target="#navbarCollapse"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" d="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true" id="navbarCollapse">
    <ul class="navbar-nav mr-auto" >
      <ng-container *ngIf="Accountservice.userobservable$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="members" routerLinkActive="active">Matchs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lists"  routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="messages"  routerLinkActive="active">Messages</a>
        </li>
      </ng-container>
    </ul>
    <div class="btn-group" dropdown [insideClick]="true" *ngIf="(Accountservice.userobservable$ | async) as user">
      <button dropdownToggle type="button" class="btn btn-default text-white dropdown-toggle">
        welcome {{user.username | titlecase}}
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">Edit profile</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="Logout()" href="#">Logout</a>
        </li>
      </ul>
    </div>
    <form class="form-inline mt-2 mt-md-0" *ngIf="!(Accountservice.userobservable$ | async)" #LoginForm="ngForm" (ngSubmit)="Login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" [(ngModel)]="model.username" name="username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" [(ngModel)]="model.password" name="password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
<div class="container" style="margin-top:100px">
  <router-outlet></router-outlet>
</div>

