.img-thumbnail
{
    margin:25px;
    width:85%;
    height:80%;
    cursor:pointer;
}
.card-body{
    padding: 5px 25px;
}
.card-footer{
    color:white;
    background-color:#fff;
    border-top:none;
    padding:0 15px;
}
.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}

.old{
    display:none;
}
@media (max-width:990px){
  .old {
    display: block;
    color: green;
  }

  .new {
    display: block;
    color: red;
  }
  .small-screen{
      position:absolute;
      overflow:hidden;
      z-index:1000;
  }
}
